html, body {
	height: 100%;
	margin: 0px;
}

/* Flex box */
.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-fill {
	flex: 1 1 auto;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-vcenter {
	align-items: center;
}

.flex-hcenter {
	justify-content: center;
}

.flex-noshrink {
	flex-shrink: 0;
}

/* Checkbox styles */
.checkbox {
	margin-right: 13px;
	fill: rgba(0, 0, 0, 0);
	stroke: #09f;
	stroke-width: 3px;
}

.checkbox .inner {
	stroke-width: 0px;
}

.checkbox .backdrop {
	stroke: #ddd;
}

.checkbox.pending {
	stroke: #555;
}

.checkbox.done {
	stroke: #0a0;
}

.checkbox.done .inner {
	fill: #0a0;
}

/* The progress bar */
.progress {
	background-color: #ddd;
}

.progress-inner {
	background-color: #09f;
	height: 3px;
}

.progress-inner.pending {
	background-color: #555;
}

.progress-inner.done {
	background-color: #0a0;
}

/* A style for tasks */
.task {
	padding: 8px 0px;
}

/* Buttons */
.btn {
	background: inherit;
	border: none;
	outline: none;
	color: #888;
}

.btn:hover, .btn.nocolor {
	color: #000;
}

/* Inputs */
.editor {
	border: none;
	outline: none;
	border-bottom: 1px solid;
	background: inherit;
}

.editor.invisible {
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
}

/* Header */
.header {
	background-color: #f80;
	padding: 15px;
}

.header-title {
	margin: 0px 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* The page content */
.content {
	padding: 15px;
}

/* Scrollable content */
.scrollable {
	overflow: auto;
}

/* Link styling */
a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Text for items not shown */
.hidden {
	color: #666;
	font-style: italic;
}

/* The drawer */
.drawer {
	/* Show scroll bars */
	overflow-y: auto;
	/* Size the side bar */
	width: 250px;
	height: 100%;
	/* Add a separator between the sidebar and the page */
	border-right: 1px solid #000;
}

/* Hide the drawer button when it is locked open */
.drawer-btn {
	display: none;
}

@media all and (max-width: 650px) {
	.drawer {
		/* Fill the screen */
		top: 0px;
		left: 0px;
		position: fixed;
		/* Use a shadow to overlay the sidebar */
		border-right: none;
		box-shadow: 0px 0px 5px #000;
		/* Make sure the sidebar is not transparent */
		background-color: #fff;
		/* Side the sidebar out of view */
		transform: translateX(calc(-100% - 10px));
		pointer-events: none;
		/* Animate opening the sidebar */
		transition: transform 300ms;
		z-index: 2;
	}

	/* Open the sidebar */
	.drawer.open {
		transform: translateX(0px);
		pointer-events: all;
	}

	.shade {
		/* Fill the screen */
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: fixed;
		background: #000;
		/* Hide the shade */
		opacity: 0;
		pointer-events: none;
		/* Animate opening the shade */
		transition: opacity 300ms;
		z-index: 1;
	}

	/* Cover the page */
	.shade.open {
		pointer-events: all;
		opacity: 0.3;
	}

	/* Show the drawer button */
	.drawer-btn {
		display: initial;
	}
}

/* A container that matches its parents height */
.container {
	overflow: hidden;
	height: 100%;
}

/* The sidebar lists */
.list-entry {
	padding: 10px 15px;
}

.list-entry:hover {
	background-color: #eee;
}

/* Indent subtasks */
.subtasks {
	border-left: 2px solid #ddd;
	margin-left: 11px;
	padding-left: 17px;
}

/* Remove padding and margins */
.nopad {
	padding: 0px;
	margin: 0px;
}

/* The bread crumbs */
.bread-crumbs {
	background-color: #ddd;
	padding: 5px 12px;
}

.crumb {
	margin: 0px 5px;
	margin-top: 3px;
}

/* Don't show a cursor on edge */
.material-icons {
	cursor: pointer;
}
