html, body {
	height: 100%;
	margin: 0px;
}

.app-wrapper {
	height: 100%;
}

/* Flex box */
.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-fill {
	flex: 1 1 auto;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-vcenter {
	align-items: center;
}

.flex-hcenter {
	justify-content: center;
}

.flex-noshrink {
	flex-shrink: 0;
}

/* Checkbox styles */
.checkbox {
	margin-right: 13px;
	fill: rgba(0, 0, 0, 0);
	stroke: #2196F3;
	stroke-width: 3px;
}

.checkbox .inner {
	stroke-width: 0px;
}

.checkbox .backdrop {
	stroke: #ddd;
}

.checkbox.done {
	stroke: #4CAF50;
}

.checkbox.done .inner {
	fill: #4CAF50;
}

/* A style for tasks */
.task {
	padding: 8px 0px;
}

/* Inputs */
.editor {
	border: none;
	outline: none;
	background: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
}

/* Make the tasks act as links when ctrl is held down */
.ctrl-pressed .task .editor:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* The page content */
.content {
	padding: 15px;
}

/* Scrollable content */
.scrollable {
	overflow: auto;
}

/* Link styling */
a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Text for items not shown */
a.hidden {
	color: #777;
	font-style: italic;
}

div.hidden {
	padding: 5px 7px;
}

/* A container that matches its parents height */
.container {
	overflow: hidden;
	height: 100%;
}

/* The sidebar lists */
.list-entry {
	padding: 0px 15px;
}

/* Indent subtasks */
.subtasks {
	border-left: 2px solid #ddd;
	margin-left: 11px;
	padding-left: 17px;
}

/* The bread crumbs */
.bread-crumbs {
	background-color: inherit;
	padding: 5px 12px;
}

.crumb {
	margin: 0px 5px;
	margin-top: 3px;
}

/* Clearly distinguish completed tasks */
.task.done {
	color: #777;
	text-decoration: line-through;
}

/* Style the filter options */
.filter {
	padding: 10px;
	padding-bottom: 0px;
}

/* Put the version at the bottom of the page */
.version {
	padding: 10px;
	color: #aaa;
	text-align: center;
}
