html, body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

.app-wrapper {
	height: 100%;
}

/* Flex box */
.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-fill {
	flex: 1 1 auto;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-vcenter {
	align-items: center;
}

.flex-hcenter {
	justify-content: center;
}

.flex-noshrink {
	flex-shrink: 0;
}

/* Checkbox styles */
.checkbox {
	margin: 2px 0px;
	margin-right: 13px;
	fill: rgba(0, 0, 0, 0);
	stroke: #2196F3;
	stroke-width: 3px;
}

.checkbox .inner {
	stroke-width: 0px;
}

.checkbox .backdrop {
	stroke: #ddd;
}

.checkbox.done {
	stroke: #4CAF50;
}

.checkbox.done .inner {
	fill: #4CAF50;
}

/* A style for tasks */
.task {
	padding: 8px 0px;
}

/* Inputs */
.editor {
	border: none;
	outline: none;
	background: inherit;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
}

/* The page content */
.content {
	padding: 15px;
}

/* Scrollable content */
.scrollable {
	overflow: auto;
}

/* Link styling */
a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Text for items not shown */
a.hidden {
	color: #777;
	font-style: italic;
	margin-left: 29px;
}

/* Make this link clearly a link */
a.blue {
	color: blue;
}

div.hidden {
	padding: 5px 7px;
}

/* A container that matches its parents height */
.container {
	overflow: hidden;
	height: 100%;
}

/* The sidebar lists */
.list-entry {
	padding: 0px 15px;
}

/* Indent subtasks */
.subtasks {
	padding-left: 20px;
}

/* The bread crumbs */
.bread-crumbs {
	background-color: inherit;
	padding: 5px 12px;
}

.crumb {
	margin: 0px 5px;
	margin-top: 3px;
}

/* Clearly distinguish completed tasks */
.task.done {
	color: #777;
	text-decoration: line-through;
}

/* Style the filter options */
.filter {
	padding: 10px;
	padding-bottom: 0px;
}

/* Put the version at the bottom of the page */
.version {
	padding: 10px;
	color: #aaa;
	text-align: center;
}

/* Show the status of any save operations */
.save-status {
	color: #777;
	padding: 15px;
	padding-bottom: 0px;
}

/* Fade tasks when they are completed */
.fadeout-task {
	transition: opacity 700ms;
	opacity: 0;
}

/* Pad the task info */
.task-info {
	border-left: 3px solid #ccc;
	padding-left: 15px;
}

/* Color the description so it's clearly different */
.description {
	color: #888;
}


/* print styles */
@media print {
	.no-print {
		display: none !important;
	}

	.print-no-margin {
		margin: 0px !important;
	}
}
